@media (min-width: 1600px) {
    .page_like_image {
        width: 500px;
        height: 700px;
        margin-left: 12rem;
    }
}

@media (min-width: 1280px) and (max-width: 1378px){
   .page_like_image {
    display: none;
    margin-left: 0px;
   }
}

@media (min-width: 1379px) and (max-width: 1599px) {
    .page_like_image{
        width: 500px;
        height: 680px;
        margin-left: 7rem;
    }
}